In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

### create data sample

In [21]:
data={'color':['red','green','blue','green','read','blue', 'pink', 'yellow']}

In [23]:
df=pd.DataFrame(data)

In [25]:
df

    color
0     red
1   green
2    blue
3   green
4    read
5    blue
6    pink
7  yellow

### initialize  lable encoder

In [28]:
le=LabelEncoder()

### apply lable encoder

In [31]:
df['color_Encoded']=le.fit_transform(df['color'])

In [33]:
df

    color  color_Encoded
0     red              4
1   green              1
2    blue              0
3   green              1
4    read              3
5    blue              0
6    pink              2
7  yellow              5

### ordinaly encoding encoding

In [38]:
p_order={'low':0,'medium':1,'high':2}

In [40]:
data={'priority':['low','low','low','high','high','low','medium','mm']}

In [44]:
df=pd.DataFrame(data)

In [46]:
df

  priority
0      low
1      low
2      low
3     high
4     high
5      low
6   medium
7       mm

In [48]:
df['priority_Encode']=df['priority'].map(p_order)

In [50]:
df

  priority  priority_Encode
0      low              0.0
1      low              0.0
2      low              0.0
3     high              2.0
4     high              2.0
5      low              0.0
6   medium              1.0
7       mm              NaN